<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'student_home1'%}"
                >Home</a
              >
            </li>
            {%if user.is_authenticated%}

            <li class="nav-item">
              <a class="nav-link" href="{%url 'grade'%}">Grades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'module_page'%}">modules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'devoir_list'%}">Devoir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'myprofile_page'%}">My profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'logoutt'%}">logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'timetable'%}">timetable</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'login'%}">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'register'%}">register</a>
            </li>

            {%endif%}
          </ul>
        </div>
      </div>
    </nav>
    <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'teacher_home_page'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'add_lesson'%}">Add a Lesson</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'students_classroom'%}">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'add_grade'%}">Add grade</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'add_devoir'%}">Add devoir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'lessons_posted'%}">Lessons posted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logoutt'%}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>!-->
{%block content%}
{%endblock content%}