{%extends 'base.html'%} {%block content%}

<h1 align="center">Choose Semestre:</h1>
<hr />

{%for i in semestres%}

          <div class="container d-flex justify-content-center">
            <a href="{% url 'grade_views' year.id i.id %}">
        <ul class="list-group mt-5 text-white">
            <li class="list-group-item d-flex justify-content-between align-content-center">
          
            <div class="d-flex flex-row">
                <div class="ml-2">
                    <h6 class="mb-0"> Semestre {{i}}</h6>
                   
                </div>
            </div>
          </a>
      
        </li>
      </div>

{%endfor%} {%endblock content%}
