{%extends 'base.html'%}

{%block content%}
<h1 align = center>{{module}} lessons:</h1>
<hr>
<div align = center>
<form
class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method = POST>
<div class="input-group">{%csrf_token%}
    
    <input type="text" class="form-control bg-light border-0 small" placeholder="Search by title"
        aria-label="Search" aria-describedby="basic-addon2" name = "search">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
</div>
</form>
</div>
<hr>
{% for pdf_document in lesson %}

        <div class="container d-flex justify-content-center">

            <ul class="list-group mt-5 text-white">
                <a href="{% url 'lesson_page' pdf_document.title %}">
              <li class="list-group-item d-flex justify-content-between align-content-center">
                
                  <div class="d-flex flex-row">
                   
                      <div class="ml-2">
                          <h6 class="mb-0">{{ pdf_document.title }}</h6>
                         
                      </div>
                  </div>
                </a>
            
              </li>
            </ul>
            </div>
        {% empty %}
            <li align = center>there is no lessons available</li>

        {% endfor %}
    
{%endblock content%}