{%extends 'base.html'%}

{%block content%}
<h1 align = center>Choose module:</h1>


{%for module in modules%}
<br>

<div class="container d-flex justify-content-center">

    <ul class="list-group mt-5 text-white">
        <a href="{% url 'lesson_module' module.id%}">
      <li class="list-group-item d-flex justify-content-between align-content-center">
        
          <div class="d-flex flex-row">
           
              <div class="ml-2">
                  <h6 class="mb-0">{{module.name}}</h6>
                 
              </div>
          </div>
        </a>
    
      </li>
    </ul>
    </div>

{%endfor%}
{%endblock content%}