{% extends 'base_teacher.html' %}


{% block content %}

<h1 align = center> Choose classroom:</h1>
<hr>
{%for i in classrooms.all%}
    
    <a href="{%url 'students_list' i.id%}">
        <div class="card mb-4 py-3 border-bottom-secondary" >
            <div class="card-body" align = center>
                {{i}}
            </div>
        </div>
            
         
                          
                         
                    
          


{%endfor%}

{%endblock content%}